// width&height
//------------------------------------------
$default-width: 1000px;

// color
//------------------------------------------
$default-color: #000;
$accent-color: #ffe100;

// font
//------------------------------------------
$default-font-g: "YakuHanJPs", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Open Sans", 游ゴシック体, YuGothic, "YuGothic M", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
$default-font-m: "YakuHanJPs", Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
